
<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  	<p>Select Keywords:</p>
  	<div id="keyword_buttons"">
	<% Keyword.all.pluck(:word, :id).each do |keyword, keyid| %>
	  <% if action=="edit" && Article.find(article.id).keywords.find_by(id: keyid) %>
	    <button type="button" class="keyword btn btn-primary" value=<%= keyid =%>><%= keyword =%></button>
	  <% else %>
	    <button type="button" class="keyword btn btn-light" value=<%= keyid =%>><%= keyword =%></button>
	  <% end %>
	<% end %>
  	</div>
  <div>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
  </div>
  
  <input type="hidden" id="article_keywords" name="article[keywords]" value="">
  	

  <div>
    <%= form.submit %>
  </div>
<% end %>